:root{
    --mainText:black;
    --secondaryText:#4b5156;
    --mainColor:#eaeaea;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --themeDotBorder:#24292e;
    --previewColor:rgba(251,249,243,0.8);
    --previewShadow:#f0ead6;
    --btnColor:black;
}
html,body{
    padding: 0;
    margin: 0;
}
body *{
    transition:all 0.1s ease-in-out;
}
h1,h2,h3,h4,h5,h6,strong{
color:var(--mainText);
font-family: 'Russo One', sans-serif;
font-weight: 500;
}
p,li,span,label,input,textarea{
    color:var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    color:#17a2b8;
}
ul{
    list-style: none;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
.s1{
    background-color:var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow:auto;
}
.s2{
    background-color:var(--secondaryColor) ;
    border-bottom:1px solid var(--borderColor);
    overflow:auto;
}
.main-container{
    width:1000px;
    margin:0 auto;
}
.greeting-wrapper{
    display:grid;
    text-align:center;
    align-content: center;
    min-height: 10em;
    /* border:2px dashed lightcoral; */
}
.intro-wrapper{
    background-color: var(--secondaryColor);
    border:1px solid lightcoral;
    border-radius:10px 10px 0 0;

    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows:3em 30em; */
    grid-template-areas:
    'nav-wrapper nav-wrapper' 'left-column right-column' ;
}
.nav-wrapper{
    grid-area:nav-wrapper;
    border-bottom:1px solid var(--borderColor);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}
#navigation a{
    color:var(--mainText);
}
.dots-wrapper{
    display: flex;

}
.browser-dot{
    height:15px;
    width:15px;
    background-color: black;
    border-radius: 50%;
    margin:5px;
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
}
#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color:#fec02f;
}
#dot-3{
    background-color:#2aca3e ;
}
#navigation{
 margin:0;
 padding:10px;
}
#navigation li{
    display: inline-block;
}
.left-column{
    padding:50px 0;
    grid-area:left-column;
    /* border:1px dashed lightcoral; */
}
#profile-picture{
    width:200px;
    height:200px;
    display:block;
    margin:0 auto;
    object-fit: cover;
    border:2px solid var(--borderColor);
}
#theme-option-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height:30px;
    width:30px;
    border:2px solid var(--themeDotBorder);
    border-radius: 50%;
    margin:5px;
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    background-color: black;
    cursor: pointer;

}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;

}
#blue-mode{
background-color: #192734;
}
#green-mode{
background-color: #78866b;
}
#purple-mode{
background-color: #7e4c74 ;
}
#setting-note{
    font-size: 12px;
    font-style: italic;
    text-align:center;
}
.right-column{
    grid-area:right-column;
    display:grid;
    align-content: center;
    padding:50px 0;
    /* border:1px dashed lightcoral; */
}
#preview-shadow{
    background-color: var(--previewShadow);
    width:300px;
    height:140px;
    padding-left: 30px;
    padding-top:30px;
}
#preview{
    width:300px;
    border:1.5px solid #17a2b8;
    background-color:var(--previewColor);
    padding:15px;
    position: relative;
}
.corner{
    height:7px;
    width:7px;
    border-radius:50%;
    border:1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}
#top-left-corner{
    top:-5px;
    left:-5px;
}
#top-right-corner{
    top:-5px;
    right:-5px;
}
#bottom-left-corner{
    bottom:-5px;
    left:-5px;
}
#bottom-right-corner{
    bottom:-5px;
    right:-5px;
}
.about-wrapper{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    padding:50px 0;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
.social-links{
display: grid;
align-items:center;
justify-content:space-evenly;
text-align:center;    
}

.handles{
    width:100px;
    height:100px;
}
.post-wrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,320px);
    gap:20px;
    justify-content: center;
    padding-bottom: 50px;
}
.thumbnail{
    display:block;
    width:100%;
    height:180px;
    object-fit: cover;
}
.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow:-2px 7px 21px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow:-2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow:-2px 7px 21px -9px rgba(0,0,0,0.75);
}
.post-preview{
    background-color: #fff;
    padding:15px;
}
.post-title{
    /* text-align: center; */
    margin:0;
    color:black;
}
.post-intro{
    /* text-align: center; */
    font-size:14px;
    color:#4b5156;
}
#submit-btn{
    margin-top:10px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    color:#fff;
    background-color: var(--btnColor);
    border:none;
}
#contact-form{
    display: block;
    max-width: 600px;
    margin:0 auto;
    border:1px solid var(--borderColor);
    padding: 15px;
    border-radius:5px;
    background-color: var(--mainColor);
    margin-top:50px;
}
.input-field{
    width:100%;
    padding:10px 0;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border:1px solid var(--borderColor);
    font-size: 14px;

}
#contact-form label{
    line-height: 2.7em;;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}
@media (max-width:1200px){
    .main-container{
        width:95%;
    }

@media(max-width:700px){
    .intro-wrapper{
        grid-template-columns: 1fr;
       
        grid-template-areas:
        'nav-wrapper' 'left-column'
        'right-column' 
        ;
    }
    .right-column{
        justify-content: center;
    }
    
}

    