:root{
    --mainText:#fff;
    --secondaryText:#eeeeee;
    --mainColor:#15202b;
    --secondaryColor:#192734;
    --borderColor:#c1c1c1;
    --themeDotBorder:#fff;
    --previewColor:rgba(25,39,52,0.8);
    --previewShadow:#111921;
    --btnColor:#17a2b8;
}
